body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page_title {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(92, 108, 255), rgba(255,0,0,0), rgb(92, 108, 255), rgba(255,0,0,0)); */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#post_name {
  font-weight: bold;
  font-size: 25px;
}

#post_cat {
  font-style: italic;
}

#post_img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
